.container {
    width: 100%;
    max-width: 66px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-right: 1rem;

}

.container img {
    width: 66px;
}

.text {
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 20px;

}

