@font-face {
  font-family: 'GothamLight';
  src: url(/public/font/1824-font.otf);
}

* {
  box-sizing: border-box;
}

.button_grey {
  padding: 16px;
  background: linear-gradient(#777b8b,#575966);
  border: 0;
  max-width: 14rem;
  font-size: .8rem;
  min-width: 200px;
  transition: .6s;
  width: 224px;
  margin: 0 auto;
  font-family: 'GothamLight';
}

.button_grey:hover {
  opacity: 50%;
}

.button_grey a {
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
}


.button_black a {
  text-decoration: none;
  color: white;
}

.button_black {
  border: 1px solid #9194a6;
  background-color: black;
  color: white;
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 300px;
  text-decoration: none;
  transition: .6s;
  font-family: 'GothamLight';
}

.button_black:hover {
  opacity: 50%;
}


/*Section 1*/

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'GothamLight';
}

.heroes {
  background-image: url(/public/images/bg_hero@2x.jpg);
  background-size: cover;
  background-position: center;
}

.section1_logo img{
  display: flex;
  flex: 1;
}

.section1_title {
  padding-top: 170px;
}

.section1_title h1 {

}

.section1_button {
  padding-bottom: 50px;
}

.section1_button_grey {
  padding-top: 150px;
  margin-bottom: 40px;
  text-align: center;
}

.section1_SN {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 224px;
  padding-bottom: 30px;
}

/*Section 2*/

.section2 {
  display: block;
}

.roadmap {
  background-image: url(/public/images/bg_roadmap@2x.jpg);
  background-size: cover;
  padding-top: 130px;
  font-family: 'GothamLight';
  text-align: center;
}

.section2_subtitle {
  margin: 0 auto 2rem;
  max-width: 700px;
  text-align: center;
}

.section2_content {
  width: 100%;
  margin: 0 auto;
}


.section2_img {
  height: 23.4375rem;
  background: url(/public/images/astronaut2.png) center bottom/contain no-repeat;
} 



/* Section 3*/

.acts {
  display: block;
  background-image: url(/public/images/blvck_avatar.png); 
  background-size: cover;
  background-position: center;
  
}

.act_container {
  padding: 20rem 0 0rem;
  margin: 0 auto;
  font-family: 'GothamLight';
}

.section3_content {
  width: 90%;
  margin: 0 auto;
  max-width: 58rem
}

.section3_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-bottom: 2px solid white;
}

.disabled_button {
  cursor: not-allowed; 
}

.section3_header button {
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  border: none;
  color: #a3a3a3;
  position: relative;
  padding: 1.5rem;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.active_button{
      /* active button*/
    color: white;
}

.active_button::before{
  content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: white;
}

.disabled_button {
  margin: 0;
}

.disabled_button::after {
  content: "Soon";
    position: absolute;
    top: -15%;
    right: -15%;
    display: block;
    background-color: white;
    color: black;
    padding: 0.5rem 0.8rem;
    border-radius: 10rem;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1;
}


.section3_text {
  font-family: 'GothamLight';
  font-weight: 400;
  color: white;
  margin: 0 auto;
  max-width: 600px;
}

.section3_title {
  font-size: 3.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.section3_subtitle {
  font-size: 1rem;
  line-height: 1.875rem;
}

.play {
  margin: 0 auto;
} 

.section3_text img{
  display: block;
  width: 6.25rem;
  filter: invert(100%);
  margin: 3.75rem auto 0;
}

.section3_link {
  display: block;
  margin-top: 10px;
  padding-bottom: 80px;
  text-align: center;
}

.section3_link a {
  font-weight: 700;
}

.section3_link a{
  font-family: 'GothamLight';
  font-weight: 700;
  margin-top: 0.5rem;
  font-size: 1.35rem;
  line-height: 2.45rem;
  white-space: nowrap;
  color: black;
  filter: invert(50%);
}

/* Section 4 */

.darker {
  background-image: url(/public/images/bg_traits.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'GothamLight';
}

.section4_content {
  padding: 240px 32px;
  position: relative;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon_container {
  width: 100%;
  max-width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-right: 1rem;
  text-align: center;
}



/*Section 5*/

.section5_container {
  padding: 5rem 1rem;
  background: black;
  font-family: 'GothamLight';
  
}

.about {
  padding: 1.5rem;
  display: block;
    width: 100%;
    height: 100%;
    max-width: 61.5rem;
    padding: .5rem;
    margin: 0 auto;
}

.about h1 {
  font-size: 2.4rem;
    line-height: 1.4;
}

.section5_text {
  display: block;
  text-align: justify;
  color: white;
  font-size: 1rem;
  line-height: 2;
  max-width: 52.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*Section 6*/

.section6 {
  padding: 28.8px 0 32px;
  border-top: 1px #a3a3a3 solid;
  text-align: center;
}

.section6_container {
  padding: 24px;
}

.section6_content h2{
  font-family: 'GothamLight';
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  color: #28292e;
  margin-bottom: 2rem;
}

.section6_images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 50px;
}

.forbes {
  display: block;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 2rem;
  width: 111px;
  height: 28px;
}

.hypebeast {
  display: block;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 148px;
  height: 19px;  
  margin-bottom: 2rem;
}

.decentraland {
  display: block;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 190px;
  height: 24px;
  margin-bottom: 2rem;
}

.entrepreneur {
  width: 192px;
  height: 38px;
  display: block;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 2rem;
}

.vogue {
  display: block;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 107px;
  height: 28px;
  margin-bottom: 2rem;
}

.makersplace {
  display: block;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 197px;
  height: 34px;
  margin-bottom: 2rem;
}

/*Section 7*/

.section7 {
  padding: 4rem 0 6rem;
  max-width: 35rem;
  margin: 0 auto;
  font-family: 'GothamLight';
}

.section7_container {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 61.5rem;
  padding: 0.5rem;
  margin: 0 auto;
}

.section7_SN-container {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.section7_SNs {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section7_SN {
  padding: 10px;
}


.section7_founders {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-row-gap: 2rem;
}

/* Section 8*/

.section8 {
  padding: 8rem 2rem 10rem;
  background: linear-gradient(20deg, rgba(85,91,103,1) 0%, rgba(17,19,23,1) 80%);
  font-family: 'GothamLight';
}

.section8_container {
  display: block;
    width: 100%;
    height: 100%;
    max-width: 61.5rem;
    padding: .5rem;
    margin: 0 auto;
}

.section8_content {
  position: relative;
}

.section8_header h2{
  font-size: 3.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-align: center;
  color: inherit;
  margin: auto;
  font-weight: 400;
}

.section8_header span {
  font-size: 1.2rem;
  opacity: .5;
  line-height: 0;
  color: #9694a5;
}

.section8_content p {
  display: block;
  text-align: justify;
  font-weight: 700;
  color: white;
  font-size: 1.125rem;
  line-height: 2;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.section8_content img {
  max-width: 230px;
}

/* Section 9*/

.section9 {
  display: block;
  background: #010101 url(/public/images/horagames_character.jpg) right bottom/cover no-repeat;

  margin: 0;
  position: relative;
  width: 100%;
}

.section9 h2 {
  margin: 0;
}

.section9_container {
  padding: 6rem 1rem;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 61.5rem;
  margin: 0 auto;
}

.section9_content {
  max-width: 50rem;
}

.section9_content p{
  display: block;
  font-family: 'GothamLight';
  text-align: justify;
  color: white;
  font-size: 1.125rem;
  line-height: 2;
  max-width: 52.5rem;
  margin: 0 auto
}

.section9_header h2{
  line-height: 1.8;
  font-size: 3.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section9_header img{
  width: 100%;
  max-width: 500px;
}

/* Footer */

.footer {
  border-top: 1px #a3a3a3 solid;
  padding: 120px 0 160px 0;
  text-align: center;
}

.footer_SN {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer_SN div {
  padding: 20px;
}

.footer_image img {
  padding-top: 0;
  padding-bottom: 80px;
}

/* MEDIA */
@media only screen and (min-width: 1920px) {
  .section1_title h1 {
    font-size: 4rem;
  }
}


@media only screen and (min-width: 1200px) {
  .section2_img {
    width: 55% !important;
    height: 70rem !important;
    background-size: contain;
    background-position: bottom right;
    align-self: flex-end;
  }

  .section2_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0 auto;
  }

  .section7 {
    max-width: 60rem;
    padding: 8rem 0 10rem;
  }

  .section7_content {
    max-width: 60rem;
    padding: 1.5rem;
  }

  .section7_founders {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .section9_container {
    padding: 12rem 2rem;
    max-width: 90rem;
  }
}

@media only screen and (min-width: 768px) {
  .section2_img {
    height: 32rem;
  }

  .section9 {
    background-size: contain;
  }

  .section1_title h1 {
    font-size: 3.25rem;
  }
  
  .section2_title h1 {
    font-size: 3.25rem;
  }

  .section4_title h1 {
    font-size: 3.25rem;
  }

  .section7_title h1 {
    font-size: 3.25rem;
  }

  .about h1 {
    font-size: 3.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .section9_container {
    background-color: #000c;
  }
}

